In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2021-11-20 19:46:31,42.0970,-79.2353,44.02,46,1,5.99
1,1,Tasiilaq,GL,2021-11-20 19:46:32,65.6145,-37.6368,28.56,96,100,15.66
2,2,Upernavik,GL,2021-11-20 19:46:32,72.7868,-56.1549,3.56,82,88,9.17
3,3,Tuktoyaktuk,CA,2021-11-20 19:46:32,69.4541,-133.0374,-9.40,84,75,8.05
4,4,Rikitea,PF,2021-11-20 19:46:33,-23.1203,-134.9692,73.38,63,97,7.20

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Kavaratti,IN,2021-11-20 19:46:33,10.5669,72.6420,80.76,77,83,14.74
8,8,Hilo,US,2021-11-20 19:44:42,19.7297,-155.0900,81.25,73,20,4.61
9,9,Luis Correia,BR,2021-11-20 19:46:34,-2.8792,-41.6669,89.60,66,0,21.85
10,10,Quatre Cocos,MU,2021-11-20 19:46:35,-20.2078,57.7625,76.08,67,1,11.48
14,14,Vaini,TO,2021-11-20 19:46:36,-21.2000,-175.2000,80.76,89,20,4.61
19,19,Dingle,PH,2021-11-20 19:46:37,10.9995,122.6711,75.70,91,97,4.52
21,21,Kahului,US,2021-11-20 19:44:48,20.8947,-156.4700,82.98,72,20,0.00
25,25,Souillac,MU,2021-11-20 19:46:39,-20.5167,57.5167,76.35,73,75,9.22
26,26,Bangad,PH,2021-11-20 19:46:40,15.5036,121.0275,75.31,84,100,2.35
27,27,Butaritari,KI,2021-11-20 19:46:40,3.0707,172.7902,81.95,66,78,17.65

In [14]:
preferred_cities_df.notnull().sum()

City_ID       177
City          177
Country       175
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
6      Kavaratti      IN     80.76  10.5669   72.6420
8           Hilo      US     81.25  19.7297 -155.0900
9   Luis Correia      BR     89.60  -2.8792  -41.6669
10  Quatre Cocos      MU     76.08 -20.2078   57.7625
14         Vaini      TO     80.76 -21.2000 -175.2000
19        Dingle      PH     75.70  10.9995  122.6711
21       Kahului      US     82.98  20.8947 -156.4700
25      Souillac      MU     76.35 -20.5167   57.5167
26        Bangad      PH     75.31  15.5036  121.0275
27    Butaritari      KI     81.95   3.0707  172.7902

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Kavaratti,IN,80.76,10.5669,72.6420,Hotels in Lakshadweep Islands
8,Hilo,US,81.25,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Luis Correia,BR,89.60,-2.8792,-41.6669,Hotel Amarração
10,Quatre Cocos,MU,76.08,-20.2078,57.7625,Sunrise Attitude Hotel
14,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
19,Dingle,PH,75.70,10.9995,122.6711,SEGAYA PROPERTY
21,Kahului,US,82.98,20.8947,-156.4700,Maui Seaside Hotel
25,Souillac,MU,76.35,-20.5167,57.5167,Shanti Maurice Resort & Spa
26,Bangad,PH,75.31,15.5036,121.0275,Golden Rosas Retreat House and Catering Services
27,Butaritari,KI,81.95,3.0707,172.7902,Isles Sunset Lodge

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))